{% extends "home.html" %}
{% load static %}
{% block title %}Edit Client{% endblock %}
{% block content %}
  <div class="content-header">
  <div class="container-fluid">
  </div>
</div>

<div class="content">
  <div class="container-fluid">
    <form>
      <div class="row">
        <div class="col-md-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Edit Client</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" title="Collapse">
                  <i class="fas fa-window-close"></i></button>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="act_number" class="col-form-label">Act number</label>
                    <input
                      id="act_number"
                      class="form-control"
                      required
                    >
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="act_date" class="col-form-label">Act date</label>
                    <div class="input-group">
                      <input
                        id="act_date"
                        class="form-control"
                        placeholder="yyyy-mm-dd"
                        name="act_date"
                        required
                      >
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                      </div>
                    </div>
                    <span class="invalid-feedback" *ngIf="f.act_date.errors"><strong>{{ f.act_date.errors }}</strong></span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="polis_number_from" class="col-form-label">Policy number from:</label>
                    <input
                      id="polis_number_from"
                      class="form-control"
                      required
                    >
                    <span class="invalid-feedback" *ngIf="f.polis_number_from.errors"><strong>{{ f.polis_number_from.errors }}</strong></span>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="polis_number_to" class="col-form-label">Policy number to:</label>
                    <input
                      id="polis_number_to"
                      class="form-control"
                      required
                    >
                    <span class="invalid-feedback" *ngIf="f.polis_number_to.errors"><strong>{{ f.polis_number_to.errors }}</strong></span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="polis_quantity" class="col-form-label">Policy quantity</label>
                    <input
                      id="polis_quantity"
                      class="form-control"
                      required
                    >
                    <span class="invalid-feedback" *ngIf="f.polis_quantity.errors"><strong>{{ f.polis_quantity.errors }}</strong></span>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="polis_status" class="col-form-label">Policy status</label>
                    <select
                      id="polis_status"
                      class="form-control"
                      required>
                      <option *ngFor="let status of statuses" [ngValue]="status.id">{{ status.name }}</option>
                    </select>
                    <span class="invalid-feedback" *ngIf="f.polis_status.errors"><strong>{{ f.polis_status.errors }}</strong></span>
                  </div>
                </div>
              </div>
<!--              <div class="row">-->
<!--                <div class="col-md-12">-->
<!--                  <div class="form-group">-->
<!--                    <div class="custom-file">-->
<!--                      <input type="file" (change)="onFileSelected($event)" formControlName="file" class="custom-file-input" id="poliseFile">-->
<!--                      <label class="custom-file-label" for="poliseFile"></label>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-1">
        <div class="form-group">
        </div>
      </div>
    </form>
  </div>
</div>
<div class="content">
  <div class="container-fluid">
    <form>
      <div class="row">
        <div class="col-md-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Edit Client</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" title="Collapse">
                  <i class="fas fa-window-close"></i></button>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="act_number" class="col-form-label">Act number</label>
                    <input
                      id="act_number"
                      class="form-control"
                      required
                    >
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="act_date" class="col-form-label">Act date</label>
                    <div class="input-group">
                      <input
                        id="act_date"
                        class="form-control"
                        placeholder="yyyy-mm-dd"
                        name="act_date"
                        required
                      >
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                      </div>
                    </div>
                    <span class="invalid-feedback" *ngIf="f.act_date.errors"><strong>{{ f.act_date.errors }}</strong></span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="polis_number_from" class="col-form-label">Policy number from:</label>
                    <input
                      id="polis_number_from"
                      class="form-control"
                      required
                    >
                    <span class="invalid-feedback" *ngIf="f.polis_number_from.errors"><strong>{{ f.polis_number_from.errors }}</strong></span>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="polis_number_to" class="col-form-label">Policy number to:</label>
                    <input
                      id="polis_number_to"
                      class="form-control"
                      required
                    >
                    <span class="invalid-feedback" *ngIf="f.polis_number_to.errors"><strong>{{ f.polis_number_to.errors }}</strong></span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="polis_quantity" class="col-form-label">Policy quantity</label>
                    <input
                      id="polis_quantity"
                      class="form-control"
                      required
                    >
                    <span class="invalid-feedback" *ngIf="f.polis_quantity.errors"><strong>{{ f.polis_quantity.errors }}</strong></span>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="polis_status" class="col-form-label">Policy status</label>
                    <select
                      id="polis_status"
                      class="form-control"

                      required>
                      <option *ngFor="let status of statuses" [ngValue]="status.id">{{ status.name }}</option>
                    </select>
                    <span class="invalid-feedback" *ngIf="f.polis_status.errors"><strong>{{ f.polis_status.errors }}</strong></span>
                  </div>
                </div>
              </div>
<!--              <div class="row">-->
<!--                <div class="col-md-12">-->
<!--                  <div class="form-group">-->
<!--                    <div class="custom-file">-->
<!--                      <input type="file" (change)="onFileSelected($event)" formControlName="file" class="custom-file-input" id="poliseFile">-->
<!--                      <label class="custom-file-label" for="poliseFile"></label>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
            </div>
          </div>
        </div>
      </div>

{% endblock %}
