<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
</style>
</head>
<body>

<h2>Haydovchi sifatida registratsiyadan o'tish </h2>

<div class="container">
  <form method="post" enctype="multipart/form-data">
  {% csrf_token %}
    <input type="hidden" name="userid" value="{{ user_id }}">
    <div class="row">
      <div class="col-25">
        <label for="car_model">Avtomobilingiz modeli</label>
      </div>
      <div class="col-75">
        <select name="car" required>
          <option></option>
          {% for c in cars %}
          <option value="{{ c.id }}">{{ c.car_model }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="full_name">To'liq ism familyangiz</label>
      </div>
      <div class="col-75">
        <input type="text" id="full_name" name="full_name" placeholder="F.I.O">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="country">Avtomashina raqami</label>
      </div>
      <div class="col-75">
        <input type="text" id="license_plate" name="license_plate" placeholder="01 A 001 AA">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="subject">Avtomashina fotosurati</label>
      </div>
      <div class="col-75">
        <input type="file" class="custom_file_input" name="photo" accept="image/*">
      </div>
    </div>
    <div class="row">

      <input type="submit" value="Submit">
    </div>
  </form>
</div>

</body>
</html>

