{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title> ValleyWood gallery </title>
	<link rel="stylesheet" href="{% static 'fa/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'fa/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'fa/css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'fa/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
	<style>

	</style>
</head>
<body>
<div class="wrapper-main">
  <nav class="navbar navbar-expand-lg navbar-dark bg-light top-nav">
           <a class="navbar-brand" href="">
				<img src="{% static "dist/img/images/logoVW1.png" %}" alt="logoVW1" />
            </a>
            <button class="navbar-toggler navbar-toggler-right"  type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="fas fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link " href="/">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="#">Gallery</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/#C3">Portfolio</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/#C2">Services</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/#footer">About</a>
					</li>
				</ul>
            </div>
    </nav>
	
    <header class="slider-main">
      <!--   <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
               <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
               <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
               <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
               <div class="carousel-item" style="background-image: url('images/slider-01.jpg')">
                  <div class="carousel-caption d-none d-md-block">
                     <h3>FAQAT BIZDA!!!</h3>
                     <p>ENG ZAMONAVIY ESHIK VA ROMLAR.</p>
                  </div>
               </div>
               <div class="carousel-item active" style="background-image: url('images/slider-02.jpg')">
                  <div class="carousel-caption d-none d-md-block">
                     <h3>VALLEYWOOD</h3>
                     <p>XUSH KELIBSIZ!</p>
                  </div>
               </div>
               <div class="carousel-item" style="background-image: url('images/slider-03.jpg')">
                  <div class="carousel-caption d-none d-md-block">
                     <h3>FAQAT BIZDA!!!</h3>
                     <p>ENG SO'NGI TEXNALOGIYALAR</p>
                  </div>
               </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
            </a>
        </div>
        <br><br><br> -->
    </header>
	
    
        <div class="portfolio-main bg-secondary" id="C3">
            <h2 class="text-light">LOYIXALARIMIZ TO'PLAMI</h2>
			<div class="col-lg-12">
				<div class="project-menu text-center">
                    <a class="btn btn-outline-dark active" href="/gallery" data-filter="*">Hammasi</a>
                    {% for category in categories %}
                        <a  type="submit" href="/gallery/{{ category.id }}" class="btn btn-outline-dark">{{ category.name }}</a>
                    {% endfor %}
				</div>
			</div>
            <div id="projects" class="projects-main row">
                  {% for photo in photos %}
               <div class="col-lg-4 col-sm-6 pro-item portfolio-item">
                  <div class="card h-100">
                     <div class="card-img">
                        <a href="{{ MEDIA_URL }}{{ photo.image.url }}" data-fancybox="images">
                           <img class="card-img-top" src="{{ MEDIA_URL }}{{ photo.image.url }}" alt="photo" />
                           <div class="overlay"><i class="fas fa-arrows-alt"></i></div>
                        </a>
                     </div>
                     <div class="card-body">
                        <h4 class="card-title">
                           <a href="#">{{ photo.name }}</a>
                        </h4>
                     </div>
                  </div>
               </div>
                {% endfor %}
               </div>
              </div>
            </div>

     
    <!--footer starts from here-->
    <footer class="footer" style="background-image: url({% static 'dist/img/images/footer-bg.jpg' %});">
        <div class="container bottom_border">
            <div class="row" id='footer'>
				<div class="col-lg-5 col-md-6 col-sm-6 col">
					<h5 class="headin5_amrc col_white_amrc pt2">Bizning haqimizda:</h5><hr>
					<div class="row">
                  	<div class="col-md-12" >
                  		<p class="mb10">"Farshox MCHJ" Farg'ona viloyati Qo'shtepa tumani Qumtepa dexqon bozori oldida joylashgan. Bizda zamonaviy eshiklar, romlar, ofisingiz uchun mebellar va yana turli xildagi xizmatlarni o'z ichimizga olamiz</p>
						<ul class="footer-social">
							<li><a class="facebook hb-xs-margin" href="#"><span class="hb hb-xs spin hb-facebook"><i class="fab fa-facebook-f"></i></span></a></li>
							<li><a class="twitter hb-xs-margin" href="http://t.me/valleywood"><span class="hb hb-xs spin hb-twitter"><i class="fab fa-telegram"></i></span></a></li>
							<li><a class="instagram hb-xs-margin" href="http://instagram.com/valleywood.uz"><span class="hb hb-xs spin hb-instagram"><i class="fab fa-instagram"></i></span></a></li>
							<li><a class="googleplus hb-xs-margin" href="http://farshoxllc@gmail.com"><span class="hb hb-xs spin hb-google-plus"><i class="fab fa-google-plus-g"></i></span></a></li>
							<li><a class="dribbble hb-xs-margin" href="#"><span class="hb hb-xs spin hb-dribbble"><i class="fab fa-dribbble"></i></span></a></li>
						</ul>	
                  	</div>	
					</div>
				</div>	
				<div class="col-lg-3 col-md-6 col-sm-6">
					<h5 class="headin5_amrc col_white_amrc pt2">Xizmatlarimiz</h5><hr>
					<!--headin5_amrc-->
					<ul class="footer_ul_amrc">
						<li><a href="#"><i class="fas fa-check-circle"></i>Eshik va Romlar</a></li>
						<li><a href="#"><i class="fas fa-check-circle"></i>Fasad tizimlar</a></li>
						<li><a href="#"><i class="fas fa-check-circle"></i>Furnituralar</a></li>
						<li><a href="#"><i class="fas fa-check-circle"></i>Avto garaj</a></li>
						<li><a href="#"><i class="fas fa-check-circle"></i>Rover xizmati </a></li>
						<li><a href="#"><i class="fas fa-check-circle"></i>Goryachiy press</a></li>
						<li><a href="#"><i class="fas fa-long-arrow-alt-right"></i>Bosh sahifa</a></li>
					</ul>
					<!--footer_ul_amrc ends here-->
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6 col">
					<h5 class="headin5_amrc col_white_amrc pt2">VALLEYWOOD office</h5><hr>
					<!--headin5_amrc ends here-->
					<ul class="footer_ul2_amrc">
						<li><p><i class="fas fa-map-marker-alt"></i> Farg'ona vil. Qo'shtepa t. Qumtepa mfy</p></li>
						<li><p><i class="fas fa-phone"></i> +998(91) 111-08-80</p></li>
						<li><p><i class="fas fa-envelope"></i> farshoxllc@gmail.com</p></li>
						<li><p><i class="fas fa-clock"></i> Har kuni: 8:00-18:00</p></li>
					</ul>
					<!--footer_ul2_amrc ends here-->
				</div>
			</div>
		</div>
		<div class="">
            <p class="copyright text-center">All Rights Reserved. &copy; 2020 <a href="#">Valley Wood</a> 
            </p>
     	</div>
    </footer>

	  
<!-- Bootstrap core JavaScript -->
<script src={% static "vendor/jquery/jquery.min.js" %}></script>
<script src={% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}></script>
<script src={% static "fa/js/imagesloaded.pkgd.min.js" %}></script>
<script src={% static "fa/js/isotope.pkgd.min.js" %}></script>
<script src={% static "fa/js/filter.js" %}></script>
<script src={% static "fa/js/jquery.appear.js" %}></script>
<script src={% static "fa/js/owl.carousel.min.js" %}></script>
<script src={% static "fa/js/jquery.fancybox.min.js" %}></script>
<script src={% static "fa/js/script.js" %}></script>
<script src={% static "fa/js/custom.js" %}></script>
<script src={% static "fa/js/owl.js" %}></script>
<script src={% static "fa/js/slick.js" %}></script>
<script src={% static "fa/js/accordions.js" %}></script>
</body>
</html>