{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title> ValleyWood home </title>

    <link rel="stylesheet" href="{% static 'fa/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'fa/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'fa/css/mdb.css' %}">
    <link rel="stylesheet" href="{% static 'fa/css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'fa/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
	<style>

	</style>
</head>
<body>
<div class="wrapper-main">
    <nav class="navbar navbar-expand-lg bg-light top-nav">
           <a class="navbar-brand" href="#">
				<img src={% static "dist/img/images/logoVW1.png" %}/>
            </a>
            <button class="navbar-toggler navbar-toggler-right"  type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="fas fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link active" href="#">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/gallery">Gallery</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#C3">Portfolio</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#C2">Services</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#footer">About</a>
					</li>
				</ul>
            </div>
    </nav>
	
    <header class="slider-main">
        <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
               <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
               <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
               <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
               <!-- Slide One - Set the background image for this slide in the line below -->
               <div class="carousel-item" style="background-image: url({% static 'dist/img/images/slider-01.jpg' %})">
                  <div class="carousel-caption d-none d-md-block">
                     <h3>FAQAT BIZDA!!!</h3>
                     <p>ENG ZAMONAVIY ESHIK VA ROMLAR.</p>
                  </div>
               </div>
               <!-- Slide Two - Set the background image for this slide in the line below -->
               <div class="carousel-item active" style="background-image: url({% static 'dist/img/images/slider-02.jpg' %})">
                  <div class="carousel-caption d-none d-md-block">
                     <h3>VALLEYWOOD</h3>
                     <p>XUSH KELIBSIZ!</p>
                  </div>
               </div>
               <!-- Slide Three - Set the background image for this slide in the line below -->
               <div class="carousel-item" style="background-image: url({% static 'dist/img/images/slider-03.jpg' %})">
                  <div class="carousel-caption d-none d-md-block">
                     <h3>FAQAT BIZDA!!!</h3>
                     <p>ENG SO'NGI TEXNALOGIYALAR</p>
                  </div>
               </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
            </a>
        </div>
        <br><br><br>
    </header>
	
    <!-- Page Content -->
    <div class="container">        
        <!-- About Section -->
        <div class="about-main">
            <div class="row">
               <div class="col-lg-6 col-md-6">
                  <h2>25 YILLIK VALLEYWOOD</h2><hr>
                  <div class="col-md-12">
                  	<h4>Valleywood 1996-yilda Farg'ona viloyati Oxunboboyev tumanida Qorakaltak qishlog'ida faoliyatini boshlagan. SHuncha yildan beri juda ko'plab insonlarni extiyojlarini bajarib kelmoqda. Biz korxonamizda eng sifatli va zamonaviy eshik va romlarni ishlab chiqaramiz</h4>
                  </div><hr>
               </div>
               <div class="col-lg-6 col-md-6">
                  <div class="container">
				    <div class="card rounded-0"  style="background-image: url({% static 'dist/img/images/form.jpg' %})">
				        <div class="p-3 mt-5 mb-3 d-flex align-items-center text-light justify-content-center">
				            <h3><i class="fa fa-pen"></i> Biz bilan bog'lanish</h3>
				        </div>
				        <div class="form-group"> 
				        	<div class="container col-md-10">
				        		<input type="text" class="form-control rounded-0 mb-2 p-3" placeholder="Ismingiz:" /> 	
				        	</div>
				        	<div class="container col-md-10">
				        		<input type="text" class="form-control rounded-0 mb-2 p-3" placeholder="Telefon raqamingiz:" /> 	
				        	</div>
				            <div class="container col-md-10"> 
				            	<textarea class="form-control p-3 mb-3 rounded-0 description-area" placeholder="Manzilingiz:"></textarea>
				            </div>
				            <div class="container mb-5 ml-4"> <button class="btn btn-secondary">Yubormoq</button> </div>
				        </div>
				    </div>
				</div>
               </div>
            </div>
            <!-- /.row -->
        </div>
	</div>	
	<!-- <div style="background-image: url('images/img-5.jpg');">
		<div class="container" >
			<div class="row">
				<div class="col-md-12 mt-5">
					<h1>BIZNING XIZMATLARIMIZ.</h1>
				</div>
				<div class="col-md-3">
					<div class="card mt-5 h-100">
						<div class="card-img">
							<img class="img-fluid" src="images/services-img-01.jpg" alt="" />
						</div>
						<div class="card-body">
							<h4 class="card-header"> Analytics </h4>
							<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
						</div>
					</div>
				</div>
			</div>		
		</div>
	</div> -->
	<div class="services-bar" id="C2" style="background-image: url({% static 'dist/img/images/img-6.jpg' %}); ">
		<div class="container" >
			<h1 class="text-light text-left p-4">Bizning Xizmatlarimiz<hr></h1>
			<!-- Services Section -->
			<div class="row">
			   <div class="col-lg-3 col-md-6 mb-4">
					<div class="card h-100">
						<div class="card-img p-4">
							<img class="img-fluid" src="{% static 'dist/img/images/icon4.png' %}" alt="" />
						</div>
						<div class="card-body">
							<h4 class="text-center"> VITIRAJLAR </h4>
							<p class="card-text" style="">Fasad tizimlari, Avto garaj, Hashorotlardan to'sqich, Podokonnik. Furnituralar</p>
						</div>
					</div>
			   </div>
			   <div class="col-lg-3 col-md-6 mb-4">
					<div class="card h-100">
						<div class="card-img p-4">
							<img class="img-fluid" src="{% static 'dist/img/images/icon1.png' %}" alt="" />
						</div>
						<div class="card-body">
							<h4 class="text-center"> MEBELLAR </h4>
							<p class="card-text">Har xil turdagi zamonaviy Ofis mebellari hamda Uyingiz uchun o'zingiz istagan mebellar</p>
						</div>
					</div>
			   </div>
			   <div class="col-lg-3 col-md-6 mb-4">
					<div class="card h-100">
						<div class="card-img p-4">
							<img class="img-fluid" src="{% static 'dist/img/images/icon2.png' %}" alt="" />
						</div>
						<div class="card-body">
							<h4 class="text-center"> ESHIK va ROMLAR </h4>
							<p class="card-text">Thermo eshik va romlari, Akfa eshik va romlari, Yog'och eshik va romlari, MDF eshiklari  </p>
						</div>
					</div>
			   </div>
			   <div class="col-lg-3 col-md-6 mb-4">
					<div class="card h-100">
						<div class="card-img p-4">
							<img class="img-fluid" src="{% static 'dist/img/images/icon3.png' %}" alt="" />
						</div>
						<div class="card-body">
							<h4 class="text-center"> BOSHQALAR </h4>
							<p class="card-text ">Rover xizmati, Goryachiy press, Arra, Oyna kesish, Yog'och, MDF, Shpon, Plintus, Dabor</p>
						</div>						
					</div>
			   </div>
			</div>
			<!-- /.row -->
		</div>
	</div>
		
	<div class="container">
        <!-- Portfolio Section -->
        <div class="portfolio-main" id="C3">
            <h2>BIZNING LOYIXALARIMIZ</h2>
			<div class="col-lg-12">
				<div class="project-menu text-center">
                    <a href="gallery" id="" class="btn btn-dark"><i class="fas fa-arrow-right"></i> Gallery</a>
					<button class="btn btn-dark" data-filter="*">Hammasi</button>
					<button data-filter=".business" class="btn btn-dark">Eshiklar</button>
					<button data-filter=".travel" class="btn btn-dark">Romlar</button>
					<button data-filter=".financial" class="btn btn-dark">Teraskalar</button>
				</div>
			</div>
            <div id="projects" class="projects-main row">
               <div class="col-lg-4 col-sm-6 pro-item portfolio-item business">
                  <div class="card h-100">
                     <div class="card-img">
                        <a href="{% static 'dist/img/images/portfolio-img-01.jpg' %}" data-fancybox="images">
                           <img class="card-img-top" src="{% static 'dist/img/images/portfolio-img-01.jpg' %}" alt="" />
                           <div class="overlay"><i class="fas fa-arrows-alt"></i></div>
                        </a>
                     </div>
                     <div class="card-body">
                        <h4 class="card-title">
                           <a href="#">ValleyWood</a>
                        </h4>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-sm-6 pro-item portfolio-item business">
                  <div class="card h-100">
                     <div class="card-img">
                        <a href="{% static 'dist/img/images/portfolio-img-02.jpg' %}" data-fancybox="images">
                           <img class="card-img-top" src="{% static 'dist/img/images/portfolio-img-02.jpg' %}" alt="" />
                           <div class="overlay"><i class="fas fa-arrows-alt"></i></div>
                        </a>
                     </div>
                     <div class="card-body">
                        <h4 class="card-title">
                           <a href="#">ValleyWood</a>
                        </h4>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-sm-6 pro-item portfolio-item business">
                  <div class="card h-100">
                     <div class="card-img">
                        <a href="{% static 'dist/img/images/portfolio-img-03.jpg' %}" data-fancybox="images">
                           <img class="card-img-top" src="{% static 'dist/img/images/portfolio-img-03.jpg' %}" alt="" />
                           <div class="overlay"><i class="fas fa-arrows-alt"></i></div>
                        </a>
                     </div>
                     <div class="card-body">
                        <h4 class="card-title">
                           <a href="#">ValleyWood</a>
                        </h4>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-sm-6 pro-item portfolio-item travel">
                  <div class="card h-100">
                     <div class="card-img">
                        <a href="{% static 'dist/img/images/portfolio-img-04.jpg' %}" data-fancybox="images">
                           <img class="card-img-top" src="{% static 'dist/img/images/portfolio-img-04.jpg' %}" alt="" />
                           <div class="overlay"><i class="fas fa-arrows-alt"></i></div>
                        </a>
                     </div>
                     <div class="card-body">
                        <h4 class="card-title">
                           <a href="#">ValleyWood</a>
                        </h4>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-sm-6 pro-item portfolio-item travel">
                  <div class="card h-100">
                     <div class="card-img">
                        <a href="{% static 'dist/img/images/portfolio-img-05.jpg' %}" data-fancybox="images">
                           <img class="card-img-top" src="{% static 'dist/img/images/portfolio-img-05.jpg' %}" alt="" />
                           <div class="overlay"><i class="fas fa-arrows-alt"></i></div>
                        </a>
                     </div>
                     <div class="card-body">
                        <h4 class="card-title">
                           <a href="#">ValleyWood</a>
                        </h4>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-sm-6 pro-item portfolio-item travel">
                  <div class="card h-100">
                     <div class="card-img">
                        <a href="{% static 'dist/img/images/portfolio-img-06.jpg' %}" data-fancybox="images">
                           <img class="card-img-top" src="{% static 'dist/img/images/portfolio-img-06.jpg' %}" alt="" />
                           <div class="overlay"><i class="fas fa-arrows-alt"></i></div>
                        </a>
                     </div>
                     <div class="card-body">
                        <h4 class="card-title">
                           <a href="#">ValleyWood</a>
                        </h4>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-sm-6 pro-item portfolio-item financial">
                  <div class="card h-100">
                     <div class="card-img">
                        <a href="{% static 'dist/img/images/portfolio-img-07.jpg' %}" data-fancybox="images">
                           <img class="card-img-top" src="{% static 'dist/img/images/portfolio-img-07.jpg' %}" alt="" />
                           <div class="overlay"><i class="fas fa-arrows-alt"></i></div>
                        </a>
                     </div>
                     <div class="card-body">
                        <h4 class="card-title">
                           <a href="#">ValleyWood</a>
                        </h4>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-sm-6 pro-item portfolio-item financial">
                  <div class="card h-100">
                     <div class="card-img">
                        <a href="{% static 'dist/img/images/portfolio-img-08.jpg' %}" data-fancybox="images">
                           <img class="card-img-top" src="{% static 'dist/img/images/portfolio-img-08.jpg' %}" alt="" />
                           <div class="overlay"><i class="fas fa-arrows-alt"></i></div>
                        </a>
                     </div>
                     <div class="card-body">
                        <h4 class="card-title">
                           <a href="#">ValleyWood</a>
                        </h4>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-sm-6 pro-item portfolio-item financial ">
                  <div class="card h-100">
                     <div class="card-img">
                        <a href="{% static 'dist/img/images/portfolio-img-09.jpg' %}" data-fancybox="images">
                           <img class="card-img-top" src="{% static 'dist/img/images/portfolio-img-09.jpg' %}" alt="" />
                           <div class="overlay"><i class="fas fa-arrows-alt"></i></div>
                        </a>
                     </div>
                     <div class="card-body">
                        <h4 class="card-title">
                           <a href="#">ValleyWood</a>
                        </h4>
                     </div>
                  </div>
               </div>
            </div>
            <!-- /.row -->
        </div>
    </div>
	
     <div class="fun-facts" style="background-image: url({% static 'dist/img/images/fun-facts-bg.jpg' %});">
	  <div class="container-fluid">
	      <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
            	<div class="row">
		      	 <div class="col-md-3">
		            <div class="count-area-content">
		              <img class="card-img-top" src="{% static 'dist/img/images/fy1.jpg' %}" alt=""/>
		            </div>
		          </div>
		          <div class="col-md-3">
		            <div class="count-area-content">
		              <img class="card-img-top" src="{% static 'dist/img/images/fy2.jpg' %}" alt=""/>
		            </div>
		          </div>
		          <div class="col-md-3">
		            <div class="count-area-content">
		              <img class="card-img-top" src="{% static 'dist/img/images/fy3.jpg' %}" alt=""/>
		            </div>
		          </div>
		          <div class="col-md-3">
		            <div class="count-area-content">
		              <img class="card-img-top" src="{% static 'dist/img/images/fy3.jpg' %}" alt=""/>
		           </div>
		       </div>
		     </div>  
	    </div>
	   </div>
   	  </div>
   </div>
	
	<div class="fun-facts">
	  <div class="container-fluid">
	      <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="portfolio-main">
	  			  <h2>BIZNING HAMKORLARIMIZ</h2>
            	<div class="row">
		      	 <div class="col-md-3">
		            <div class="count-area-content">
		               <img class="card-img-top" src="{% static 'dist/img/images/akfa.png' %}" alt=""/>
		            </div>
		          </div>
		          <div class="col-md-3">
		            <div class="count-area-content">
		               <img class="card-img-top" src="{% static 'dist/img/images/imzo.png' %}" alt=""/>
		            </div>
		          </div>
		          <div class="col-md-3">
		            <div class="count-area-content">
		               <img class="card-img-top" src="{% static 'dist/img/images/engelberg.png' %}" alt=""/>
		            </div>
		          </div>
		          <div class="col-md-3">
		            <div class="count-area-content">
		               <img class="card-img-top" src="{% static 'dist/img/images/aldox.png' %}" alt=""/>
		           </div>
		       </div>
		     </div>
            </div>  
	    </div>
	   </div>
   	  </div>
   </div>	
    <!-- /.container -->
    <!--footer starts from here-->
    <footer class="footer" style="background-image: url({% static 'dist/img/images/footer-bg.jpg' %});">
        <div class="container bottom_border">
            <div class="row" id='footer'>
				<div class="col-lg-5 col-md-6 col-sm-6 col">
					<h5 class="headin5_amrc col_white_amrc pt2">Bizning haqimizda:</h5><hr>
					<div class="row">
                  	<div class="col-md-12" >
                  		<p class="mb10">"Farshox MCHJ" Farg'ona viloyati Qo'shtepa tumani Qumtepa dexqon bozori oldida joylashgan. Bizda zamonaviy eshiklar, romlar, ofisingiz uchun mebellar va yana turli xildagi xizmatlarni o'z ichimizga olamiz</p>
						<ul class="footer-social">
							<li><a class="facebook hb-xs-margin" href="http://facebook.com/mastervalleywood"><span class="hb hb-xs spin hb-facebook"><i class="fab fa-facebook-f"></i></span></a></li>
							<li><a class="twitter hb-xs-margin" href="http://t.me/valleywood"><span class="hb hb-xs spin hb-twitter"><i class="fab fa-telegram"></i></span></a></li>
							<li><a class="instagram hb-xs-margin" href="http://instagram.com/valleywood.uz"><span class="hb hb-xs spin hb-instagram"><i class="fab fa-instagram"></i></span></a></li>
							<li><a class="googleplus hb-xs-margin" href="http://farshoxllc@gmail.com"><span class="hb hb-xs spin hb-google-plus"><i class="fab fa-google-plus-g"></i></span></a></li>
							<li><a class="dribbble hb-xs-margin" href="#"><span class="hb hb-xs spin hb-dribbble"><i class="fab fa-dribbble"></i></span></a></li>
						</ul>	
                  	</div>	
					</div>
				</div>	
				<div class="col-lg-3 col-md-6 col-sm-6">
					<h5 class="headin5_amrc col_white_amrc pt2">Xizmatlarimiz</h5><hr>
					<!--headin5_amrc-->
					<ul class="footer_ul_amrc">
						<li><a href="#"><i class="fas fa-check-circle"></i>Eshik va Romlar</a></li>
						<li><a href="#"><i class="fas fa-check-circle"></i>Fasad tizimlar</a></li>
						<li><a href="#"><i class="fas fa-check-circle"></i>Furnituralar</a></li>
						<li><a href="#"><i class="fas fa-check-circle"></i>Avto garaj</a></li>
						<li><a href="#"><i class="fas fa-check-circle"></i>Rover xizmati </a></li>
						<li><a href="#"><i class="fas fa-check-circle"></i>Goryachiy press</a></li>
						<li><a href="#"><i class="fas fa-long-arrow-alt-right"></i>Bosh sahifa</a></li>
					</ul>
					<!--footer_ul_amrc ends here-->
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6 col">
					<h5 class="headin5_amrc col_white_amrc pt2">VALLEYWOOD office</h5><hr>
					<!--headin5_amrc ends here-->
					<ul class="footer_ul2_amrc">
						<li><p><i class="fas fa-map-marker-alt"></i> Farg'ona vil. Qo'shtepa t. Qumtepa mfy</p></li>
						<li><p><i class="fas fa-phone"></i> +998(91) 111-08-80</p></li>
						<li><p><i class="fas fa-envelope"></i> valleywood@gmail.com</p></li>
						<li><p><i class="fas fa-clock"></i> Har kuni: 8:00-18:00</p></li>
					</ul>
					<!--footer_ul2_amrc ends here-->
				</div>
			</div>
		</div>
		<div class="">
            <p class="copyright text-center">All Rights Reserved. &copy; 2020 <a href="#">Valley Wood</a> 
            </p>
     	</div>
    </footer>

	  
<!-- Bootstrap core JavaScript -->
<script src={% static "vendor/jquery/jquery.min.js" %}></script>
<script src={% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}></script>
<script src={% static "fa/js/imagesloaded.pkgd.min.js" %}></script>
<script src={% static "fa/js/isotope.pkgd.min.js" %}></script>
<script src={% static "fa/js/filter.js" %}></script>
<script src={% static "fa/js/jquery.appear.js" %}></script>
<script src={% static "fa/js/owl.carousel.min.js" %}></script>
<script src={% static "fa/js/jquery.fancybox.min.js" %}></script>
<script src={% static "fa/js/script.js" %}></script>
<script src={% static "fa/js/custom.js" %}></script>
<script src={% static "fa/js/owl.js" %}></script>
<script src={% static "fa/js/slick.js" %}></script>
<script src={% static "fa/js/accordions.js" %}></script>
  <script>
        $('.nav-link, .navbar-brand').click(function() {
            var sectionTo = $(this).attr('href');
            $('html, body').animate({
              scrollTop: $(sectionTo).offset().top
            }, 1500);
        });
    </script>

</body>
</html>