{% extends "base.html" %}
{% block title %} Log In{% endblock %}
{% block container %}
  <div class="row h-100" style="margin-top: 40px">

  <div class="col-md-4 col-sm-12 mx-auto my-auto">
    <!-- Material form login -->
    <div class="card">

      <h5 class="card-header info-color white-text text-center py-4">
        <strong>Log In</strong>
      </h5>

      <!--Card content-->
      <div class="card-body px-lg-5 pt-0">
        {% if form.non_field_errors %}
                    <div class="card-header">
                        <ul class="list-group">
                        {% for error in form.non_field_errors %}
                            <li class="list-group-item-danger">{{ error }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                    {% endif %}

        <!-- Form -->
        <form class="text-center" style="color: #757575;" method="post">
          {% csrf_token %}
          <!-- Email -->
          <div class="md-form">
            <input type="text" name="{{ form.username.name }}" id="materialLoginFormEmail" class="form-control">
            <label for="materialLoginFormEmail">Username</label>
          </div>

          <!-- Password -->
          <div class="md-form">
            <input type="password" name="{{ form.password.name }}" id="materialLoginFormPassword" class="form-control">
            <label for="materialLoginFormPassword">Password</label>
          </div>

          <div class="d-flex justify-content-around">
            <div>
              <!-- Remember me -->
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="materialLoginFormRemember">
                <label class="form-check-label" for="materialLoginFormRemember">Remember me</label>
              </div>
            </div>
            <div>
              <!-- Forgot password -->
              <a href="">Forgot password?</a>
            </div>
          </div>

          <!-- Sign in button -->
          <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Sign in
          </button>

          <!-- Register -->
          <p>Not a member?
            <a href="">Register</a>
          </p>

        </form>
        <!-- Form -->

      </div>

    </div>
  </div>
  </div>
  <!-- Material form login -->
{% endblock %}
