{% extends "base.html" %}
{% block title %} Register {% endblock %}
{% block container %}
  <div class="row h-100" style="margin-top: 40px">

  <div class="col-md-4 col-sm-12 mx-auto my-auto">
    <!-- Material form login -->
    <div class="card">

      <h5 class="card-header info-color white-text text-center py-4">
        <strong>Register</strong>
      </h5>

      <!--Card content-->
      <div class="card-body px-lg-5 pt-0">
        {% if form.non_field_errors %}
                    <div class="card-header">
                        <ul class="list-group">
                        {% for error in form.non_field_errors %}
                            <li class="list-group-item-danger">{{ error }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                    {% endif %}

        <br>
        <form class="text-center" style="color: #757575;" method="post">
          {% csrf_token %}
          <!-- Email -->
          <div class="md-form">
            <input type="text" name="firstname" id="firstname" class="form-control">
            <label for="firstname">First Name</label>
          </div>
          <div class="md-form">
            <input type="text" name="lastname" id="lastname" class="form-control">
            <label for="lastname">Last Name</label>
          </div>
          <div class="md-form">
            <input type="text" name="username" id="username" class="form-control">
            <label for="username">Username</label>
          </div>
          <div class="md-form">
            <input type="password" name="password1" id="password1" class="form-control">
            <label for="password1">Password</label>
          </div>
          <!-- Password -->
          <div class="md-form">
            <input type="password" name="password2" id="password2" class="form-control">
            <label for="password2">Password</label>
          </div>
          <div class="md-form">
            <input type="email" name="email" id="email" class="form-control">
            <label for="email">Email</label>
          </div>
          <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Register
          </button>

          <!-- Register -->
          <p>Not a member?
            <a href="">Log in</a>
          </p>

        </form>
        <!-- Form -->

      </div>

    </div>
  </div>
  </div>
  <!-- Material form login -->
{% endblock %}
