{% extends "home.html" %}
{% load static %}
{% block title %}Add Client{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<div class="container container-fluid">
<div class="content">
  <div class="container-fluid">
     <div class="row">
        <div class="col-md-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">ADD Client</h3>
              <div class="card-tools">
                <a type="button" href="{% url 'client' %}" class="btn btn-tool">
                  <i class="fas fa-window-close"></i></a>
              </div>
            </div>
            <div class="container">
            <form class="container pg-5" method="post" >
                {% csrf_token %}
                <div class="row form-group">

                     <div class="col-sm-3">
                         <label for="name" class="col-form-label">Name</label>
                        <input id="name" name="name"  class="form-control" required>
                     </div>
                     <div class="col-sm-2">
                         <label for="phone" class="col-form-label">Phone</label>
                        <input id="phone" name="phone"  class="form-control" required>
                     </div>
                     <div class="col-sm-7">
                         <label for="address" class="col-form-label">Adress</label>
                        <input id="address" name="address"  class="form-control" required>
{#                        {{ forms.address|as_crispy_field}}#}
                    </div>
                    <div class="col-sm-12">
                        <label for="description" class="col-form-label">Description</label>
                        <input id="description" name="address" class="form-control" required>
{#                        {{ forms.description|as_crispy_field }}#}
                    </div>
                </div>
                <div>
                    <input type="submit" class="btn btn-primary form-group" id="submit" value="Add">
                    <a type="button" class="btn btn-danger form-group" href="{% url 'client' %}">Close</a>
                </div>
            </form>
            </div>
        </div>
        </div>
      </div>
  </div>
</div>
</div>


{% endblock %}
