{% extends "home.html" %}
{% load crispy_forms_tags %}
{% block content %}
<br>
 <div class="content">
  <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Order</h3>
              <div class="card-tools">
                <a type="button" class="btn btn-tool" href="{% url 'order' %}" title="Collapse">
                  <i class="fas fa-window-close"></i></a>
              </div>
            </div>
            <div class="card-body">
                 <form method="post">
                   {% csrf_token %}
               <div class="row">
                 <div class="col-md-6">
                  <div class="form-group">
                    <label for="order" class="col-form-label">Order</label>
                    <select id="order" class="form-control" required>
                        {% for client in clients %}
                        <option value="{{ client.name }}">{{ client.name }}</option>
                        {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="deadline" class="col-form-label">Deadline</label>
                    <div class="input-group">
                    <input id="deadline" name="deadline" class="form-control" required>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                    </div>
                  </div>
                 </div>
                 </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="description" class="col-form-label">Description</label>
                    <input id="description" name="description" class="form-control" required>
                  </div>
                 </div>
                </div>
               <div class="col-md-12">
                <div class="form-group">
                    <div>
                      <input type="submit" class="btn btn-primary form-group" id="submit" value="Add">
                      <a type="button" class="btn btn-danger form-group" href="{% url 'additem' %}">Add item</a>
                  </div>
              </div>
            </div>
           </div>
          </form>
         </div>
        </div>
      </div>
     </div>
   </div>
{% endblock %}