{% extends "home.html" %}
{% load crispy_forms_tags %}
{% block content %}
<br>
 <div class="content">
  <div class="container-fluid">
    <form method="post">
        {% csrf_token %}
      <div class="row">
        <div class="col-md-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Add Item</h3>
              <div class="card-tools">
                 <a type="button" class="btn btn-tool" href="{% url 'order' %}" title="Collapse">
                  <i class="fas fa-window-close"></i></a>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    {{ forms.order | as_crispy_field }}
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    {{ forms.type | as_crispy_field }}
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    {{ forms.raw | as_crispy_field }}
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    {{ forms.color | as_crispy_field }}
                </div>
            </div>
          </div>
          <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    {{ forms.width | as_crispy_field }}
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    {{ forms.height | as_crispy_field }}
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                   {{ forms.quantity | as_crispy_field }}
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    {{ forms.price | as_crispy_field }}
                </div>
            </div>
          </div>

          <div class="row">
              <div class="col-md-12">
                  <div class="form-group">
                    {{ forms.description | as_crispy_field }}
              </div>
            </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <div class="form-group">
                    <div class="input-group">
                      <input type="submit" class="btn badge-info right" id="submit">
                </div>
              </div>
            </div>
          </div>
            </div>
          </div>
        </div>
      </div>
    </form>
 </div>
</div>


{% endblock %}
