{% extends "home.html" %}
{% load crispy_forms_tags %}
{% block content %}
<br>
 <div class="content">
  <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Order</h3>
              <div class="card-tools">
                <a type="button" class="btn btn-tool" href="" title="Collapse">
                  <i class="fas fa-window-close"></i></a>
              </div>
            </div>
            <div class="card-body">
             <form id="formorder" method="post">
             {% csrf_token %}
             <input type="hidden" name="form_type" value="formOne">
               <div class="row">
                 <div class="col-md-6">
                  <div class="form-group">
                    <label for="client" class="col-form-label">Client</label>
                    <select id="client" name="client"  class="form-control" required>
                        {% for client in clients %}
                        <option  value="{{ client.id }}">{{ client.name }}</option>
                        {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="deadline" class="col-form-label">Deadline</label>
                    <div class="input-group">
                    <input id="deadline" name="deadline" class="form-control" required>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                    </div>
                  </div>
                 </div>
                 </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="description" class="col-form-label">Description</label>
                    <input id="description" name="description" class="form-control" required>
                  </div>
                 </div>
                 <div class="col-md-12">
                 <div class="form-group">
                    <input type="submit" class="btn btn-primary form-group" id="submit1" value="OrderSave">
                 </div>
                 </div>
                </div>
                </form>
                <div id="output1">
                </div>
                    <hr>
                <form hidden="hidden" id="formitem" method="post">
                <div id="items">
                {% csrf_token %}
                 <div id="item" class="" style=" margin-bottom: 5px; padding: 5px" >
                   <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="t" class="col-form-label">Type</label>
                        <select id="t" name="t" class="form-control" required>
                            {% for t in types %}
                            <option value="{{ t.id }}">{{ t.name }}</option>
                            {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="raw" class="col-form-label">Raw</label>
                        <select id="raw" name="raw" class="form-control" required>
                            {% for raw in raws %}
                            <option value="{{ raw.id }}">{{ raw.name}}</option>
                            {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="color" class="col-form-label">Color</label>
                        <select id="color" name="color" class="form-control" required>
                            {% for color in colors %}
                            <option value="{{ color.id }}">{{ color.name }}</option>
                            {% endfor %}
                        </select>
                      </div>
                    </div>
                   </div>
                    <div class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="width" class="col-form-label">Width</label>
                        <input id="width" name="width" class="form-control" required>
                      </div>
                     </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="height" class="col-form-label">Height</label>
                        <input id="height" name="height" class="form-control" required>
                      </div>
                     </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="quantity" class="col-form-label">Quantity</label>
                        <input id="quantity" type="number" name="quantity" class="form-control" required>
                      </div>
                     </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="price" class="col-form-label">Price</label>
                        <input id="price" type="number" name="price" class="form-control" required>
                      </div>
                     </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="description2" class="col-form-label">Description</label>
                        <input id="description2" name="description2" class="form-control" required>
                      </div>
                     </div><hr>
                 </div>
                 </div>
                 <div class="col-md-12">
                <div class="form-group">
                    <div>
                      <input type="submit" class="btn btn-primary form-group" id="submit" value="Save">
                      <button id="itemid" type="button" class="btn btn-info form-group rounded-circle addbtn ">+</button>
                    </div>
                  </div>
                </div>
             </form>
         </div>
        </div>
      </div>
   </div>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script>
   $(document).ready(function() {
      $("#itemid").on('click', function () {

       });
      $("#formitem").submit(function(e) {
          e.preventDefault();
            $.ajax({
                type: "POST",
                url: "{% url 'addorder' %}",
                data: {
                    form_type : 'formTwo',
                    t : $('#t').val(),
                    raw : $('#raw').val(),
                    color : $('#color').val(),
                    height : $('#height').val(),
                    width : $('#width').val(),
                    quantity : $('#quantity').val(),
                    price : $('#price').val(),
                    description2 : $('#description2').val(),
                    csrfmiddlewaretoken : '{{ csrf_token }}',
                    dataType: "json",},
                success: function(data){
                $('#output1').html(data.msg)
            },
            });
            $("#item").find("input, select").attr({
              "name": ["t","raw","color","height","width","quantity","price","description",]
          }).val('');

        });

       $("#submit1").on('click', function (){

       })

   $('#formorder').on('submit', function(e){
       $("#formitem").attr('hidden', false);
    e.preventDefault();
       $.ajax({
            type : "POST",
            url: "{% url 'addorder' %}",
            data: {
             form_type: 'formOne',
             client : $('#client').val(),
             deadline : $('#deadline').val(),
             description : $('#description').val(),
             csrfmiddlewaretoken : '{{ csrf_token }}',
             dataType: "json",
            },

            success: function(data){
                $('#output1').html(data.msg)
            },

           failure: function() {

           }
       });
        $("#formorder").attr('hidden', true);
      });


    });

</script>

 {% endblock %}