{% extends "home.html" %}
{% load static %}
{% block title %}Edit Client{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <br>
<div class="container container-fluid">
<div class="content">
  <div class="container-fluid">
     <div class="row">
        <div class="col-md-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Edit Client</h3>
              <div class="card-tools">
                <a type="button" href="{% url 'client' %}" class="btn btn-tool">
                  <i class="fas fa-window-close"></i></a>
              </div>
            </div>
            <div class="container">
            <form class="container pg-5" method="post" >
                {% csrf_token %}
                <div class="row form-group">
                <div class="form-group col-sm-3">
                      {{ forms.name|as_crispy_field }}
                </div>
                <div class="form-group col-sm-3">
                     {{ forms.phone|as_crispy_field }}
                </div>
                <div class="form-group col-sm-6">
                    {{ forms.vendor|as_crispy_field }}
                </div>
                     <div class="col-sm-4">
                        {{ forms.address|as_crispy_field}}
                    </div>
                    <div class="col-sm-8">
                        {{ forms.description|as_crispy_field }}
                    </div>
                </div>
                <div>
                    <input type="submit" class="btn btn-primary form-group" id="submit" value="Save">
                    <a type="button" class="btn btn-danger form-group" href="{% url 'client' %}">Close</a>
                </div>
            </form>
            </div>
        </div>
        </div>
      </div>
  </div>
</div>
</div>



{% endblock %}
