<div class="col-md-4">
  <div class="form-group">
    <label for="order" class="col-form-label">Type</label>
    <select id="order" class="form-control" required>
        {% for client in clients %}
        <option value="{{ client.name }}">{{ client.name }}</option>
        {% endfor %}
    </select>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label for="order" class="col-form-label">Row</label>
    <select id="order" class="form-control" required>
        {% for client in clients %}
        <option value="{{ client.name }}">{{ client.name }}</option>
        {% endfor %}
    </select>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label for="order" class="col-form-label">Color</label>
    <select id="order" class="form-control" required>
        {% for client in clients %}
        <option value="{{ client.name }}">{{ client.name }}</option>
        {% endfor %}
    </select>
  </div>
</div>
<div class="col-md-3">
  <div class="form-group">
    <label for="description" class="col-form-label">Width</label>
    <input id="description" name="description" class="form-control" required>
  </div>
 </div>
<div class="col-md-3">
  <div class="form-group">
    <label for="description" class="col-form-label">Height</label>
    <input id="description" name="description" class="form-control" required>
  </div>
 </div>
<div class="col-md-3">
  <div class="form-group">
    <label for="description" class="col-form-label">Quantity</label>
    <input id="description" name="description" class="form-control" required>
  </div>
 </div>
<div class="col-md-3">
  <div class="form-group">
    <label for="description" class="col-form-label">Price</label>
    <input id="description" name="description" class="form-control" required>
  </div>
 </div>
<div class="col-md-12">
  <div class="form-group">
    <label for="description" class="col-form-label">Description</label>
    <input id="description" name="description" class="form-control" required>
  </div>
 </div>