{% extends "home.html" %}
{% load static %}
{% block title %}Edit Client{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <br>
<div class="container container-fluid">
<div class="content">
  <div class="container-fluid">
     <div class="row">
        <div class="col-md-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Order item</h3>
              <div class="card-tools">
                <a type="button" href="{% url 'order' %}" class="btn btn-tool">
                  <i class="fas fa-window-close"></i></a>
              </div>
            </div>
            <div class="container">
            <h1 style="text-align: center">{{ order.client.name }} order items</h1>
             <div class="col-sm-12">
              <table id="client_table" class="m table table-bordered table-hover dataTable dtr-inline" role="grid" style="width: 100%;">
                <thead>
                  <tr role="row">
                    <th>ORDER</th>
                    <th>TYPE</th>
                    <th>RAW</th>
                    <th>COLOR</th>
                    <th>WIDTH</th>
                    <th>HEIGHT</th>
                    <th>DESC</th>
                    <th>QUANTITY</th>
                    <th>PRICE</th>
                  </tr>
                </thead>
                <tbody>
                   {% for i in item %}
                  <tr>
                    <td>{{ i.order }}</td>
                    <td>{{ i.type }}</td>
                    <td>{{ i.raw }}</td>
                    <td>{{ i.color }}</td>
                    <td>{{ i.width }}</td>
                    <td>{{ i.height }}</td>
                    <td>{{ i.description }}</td>
                    <td>{{ i.quantity }}</td>
                    <td>{{ i.price }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table><br>
            </div>
          </div>
        </div>
        </div>
      </div>
  </div>
</div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script>
   $(document).ready(function() {
       $('td').on('click', function (){
           console.log(this)
       })
       });
   </script>
{% endblock %}

