{% extends "home.html" %}
{% load static %}
{% block title %} ValleyWood Clients {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="row" style="width: 100%; padding-top: 2px; margin: 0;">
    <div class="col-sm-12">
      <div id="buttonrow" style="display: inline-block">
        <button class="btn btn-primary" onclick="addClient()">Add</button>
        <button class="btn btn-primary" id="edit" disabled >Edit</button>
        <button class="btn btn-warning" id="delete" disabled >Delete</button>
      </div>
      <div style="float: right">
          <input type="text" class="form-control" id="custom_searchbox">
        </div>
    </div>
    <div class="col-sm-12">
      <table id="client_table" class="table table-bordered table-hover dataTable dtr-inline" role="grid" style="width: 100%;">
        <thead>
          <tr role="row">
            <th>ID</th>
            <th>NAME</th>
            <th>PHONE</th>
            <th>ADDRESS</th>
            <th>DESC</th>
            <th>CR_ON</th>
            <th>Vendor</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>

{#  Add MOdal#}
  <div id="addModal" class="modal fade">
    {% include "valleywood/client/add.html" with obj=4 %}
  </div>

{% endblock %}
{% block js %}
  {{ block.super }}
  <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'plugins/datatables-autofill/js/dataTables.autoFill.min.js' %}"></script>
  <script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
  <script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
  <script src="{% static 'plugins/datatables-colreorder/js/dataTables.colReorder.min.js' %}"></script>
  <script src="{% static 'plugins/datatables-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
  <script src="{% static 'plugins/datatables-keytable/js/dataTables.keyTable.min.js' %}"></script>
  <script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'plugins/datatables-scroller/js/dataTables.scroller.min.js' %}"></script>
  <script src="{% static 'plugins/datatables-select/js/dataTables.select.min.js' %}"></script>

    <script>
var ids = 0;
    $(document).ready(function () {
      var obec=5;
      var table = $('#client_table').DataTable({
          dom: '<"top"<\'row\'<\'col-md-8\'B><\'col-md-4\'f>>>rt<"bottom"<\'row\'<\'col-md-6\'i><\'col-md-6\'p>>>',
          buttons: ['pdf', 'excel', 'print', ],
          retrieve: true,
          scroller: true,
          processing: true,
          serverSide: true,
          stateSave: true,
          colReorder: true,
          fixedHeader: true,
          keys: true,
          responsive: {
            details: {
              display: $.fn.dataTable.Responsive.display.modal({
                header: function (row) {
                  var data = row.data();
                  return 'Details for ' + data.name;
                }
              }),
              renderer: $.fn.dataTable.Responsive.renderer.tableAll()
            }
          },
          scrollY: "70vh",
          select: true,
          ajax: "/wag/api/client/?format=datatables",
          rowId: 'clientId',
          columns: [
            {"data": "id"},
            {"data": "name"},
            {"data": "phone"},
            {"data": "address"},
            {"data": "description"},
            {"data": "cr_on"},
            {"data": "vendor_name"},
          ]
        }
      );
      table.buttons().container().appendTo($('#buttonrow'));
      $("#custom_searchbox").keyup(function () {
        table.search(this.value).draw();
      });


        $('#client_table').on('click', 'tr', function() {
         ids = table.row(this).data().id
         if (ids !== 0){
            $('#edit, #delete').removeAttr('disabled');
            }
         $('#edit').on('click', function (){
              window.location.href = '/wag/client_edit/' + ids
            })
         $('#delete').on('click', function (){
              window.location.href = '/wag/client_delete/' + ids
            })

        })


    });


    function addClient() {
        window.location.href='/wag/client_add/';
      {#$('#addModal').modal();#}
    }


  </script>
  <style>
  .dataTables_filter {
     display: none;
}
</style>
{% endblock %}
