{% extends "home.html" %}
{% load static %}
{% load i18n %}
{% block title %}Add Client{% endblock %}
{% block content %}
    <br>
<div class="container container-fluid">
{% for names in fullname %}
    <h1>King: {{ names.phone }}</h1>
{% endfor %}
</div>

<script>
/*const serialize_form = form => JSON.stringify(
  Array.from(new FormData(form).entries())
       .reduce((m, [ key, value ]) => Object.assign(m, { [key]: value }), {})
);

$('#register_form').on('submit', function(event) {
  event.preventDefault();
  const json = serialize_form(this);
  console.log(json);

let submitButton = $('#save')
let form = $('register_form')

$(document).ready(function () {
    submitButton.click(function (e){
        e.preventDefault();

        $.ajaxSetup({
            beforeSend: function (xhr, setting) {
                if (!csrfSafeMethod(setting.type) && !this.crossDomain){
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }

            }
        });
        let forms = {}
        let params = {}
        forms.csrfmiddlewaretoken = 'csrf_token';
        forms.action = 'create';
        let serializedForm = form.serializeArray();
        for (let i = 0; i < serializedForm.length; i++ ){
            params[serializedForm[i]['name']] = serializedForm[i]['value'];
        }
        forms.params = params;
        console.log(serializedForm);
        console.log(forms);


        $.ajax({
            url: 'http://127.0.0.1:8000/wag/api/client/',
            data: json,
            contentType: 'application/json',
            type: "POST",
            success: function (data){
                if (data) {
                    console.log(data);
                }
            }
        });



});
*/
</script>

{% endblock %}
