{% extends "home.html" %}
{% load crispy_forms_tags %}
{% block content %}
<br>
 <div class="content">
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
          <div class="card card-danger">
            <div class="card-header">
              <h3 class="card-title">Add Type</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" title="Collapse">
                  <i class="fas fa-window-close"></i></button>
              </div>
            </div>
            <div class="card-body">
              <form method="post">
               {% csrf_token %}
                  <input type="hidden" name="form_type" value="formOne">
                  <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                      {{ type.name | as_crispy_field }}
                  </div>
                </div>
              <div class="col-md-12">
                  <div class="form-group">
                    {{ type.active | as_crispy_field }}
                </div>
              </div>
              </div>
            <div class="input-group">
              <input type="submit" class="btn badge-info right" id="submit">
            </div>
          </form>
        </div>
          </div>
    </div>
    <div class="col-md-4">
          <div class="card card-yellow">
            <div class="card-header">
              <h3 class="card-title">Add Raw</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" title="Collapse">
                  <i class="fas fa-window-close"></i></button>
              </div>
            </div>
            <div class="card-body">
             <form method="post">
               {% csrf_token %}
                 <input type="hidden" name="form_type" value="formTwo">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                      {{ raw.name | as_crispy_field }}
                  </div>
                </div>
              <div class="col-md-12">
                  <div class="form-group">
                    {{ raw.active | as_crispy_field }}
                </div>
              </div>
              </div>
              <div class="input-group">
                <input type="submit" class="btn badge-info right" id="submit">
              </div>
           </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
          <div class="card card-green">
            <div class="card-header">
              <h3 class="card-title">Add Color</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" title="Collapse">
                  <i class="fas fa-window-close"></i></button>
              </div>
            </div>
            <div class="card-body">
             <form method="post">
                 {% csrf_token %}
                 <input type="hidden" name="form_type" value="formThree">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                      {{ color.name | as_crispy_field }}
                  </div>
                </div>
                 <div class="col-md-6">
                    <div class="form-group">
                    {{ color.code | as_crispy_field }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                    {{ color.active | as_crispy_field }}
                </div>
              </div>
            </div>
            <div class="input-group">
                  <input type="submit" class="btn badge-info right" id="submit">
            </div>
         </form>
        </div>
      </div>
     </div>
    </div>
   </div>
 </div>
{% endblock %}